<template>
  <div class="animated fadeIn">
    <div class="row">
    <div class="col-sm-6 col-md-6">
        <b-card header="<strong>Zabbix server : Template Linux OS</strong>" class="border-primary">
          <strong>Linux OS Template</strong> is a set of entities that are conveniently applied to multiple hosts. When a template is linked to a host, all entities (items, triggers, graphs,…) of the template are added to the host. Templates are assigned to each individual host directly (and not to a host group).
        </b-card>
      </div><!--/.col-->
       <div class="col-sm-6 col-md-6">
        <b-card header="<strong>Help</strong>" class="border-primary">
          When a template is linked to a host, all entities (items, triggers, graphs,…) of the template are added to the host. Templates are assigned to each individual host directly (and not to a host group). Configuring a template requires that you first create a template by defining its general parameters.
        </b-card>
      </div><!--/.col-->
    </div>
    <div class="row">      
      <div class="col-6 col-lg-3">
        <b-card no-block footer-class="px-3 py-2">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-cogs bg-success p-3 font-3xl mr-3 float-left"></i>
            <div class="h3 text-primary mb-0 mt-2">50</div>
            <div class="text-muted text-uppercase font-weight-bold font-xl" v-if="selectApplicationsCPU">{{ selectApplicationsCPU }}</div>
          </div>
          <div slot="footer">
            <c-switch type="text" variant="primary" @change="seenCPU = !seenCPU" on="On" off="Off" :checked="false"/><a class="font-weight-bold font-xs btn-block text-muted" href="#">View More</a>
          </div>
        </b-card>
      </div><!--/.col-->
      <div class="col-6 col-lg-3">
        <b-card no-block footer-class="px-3 py-2">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-hdd-o bg-success p-3 font-3xl mr-3 float-left"></i>
            <div class="h3 text-primary mb-0 mt-2">9</div>
            <div class="text-muted text-uppercase font-weight-bold font-xl">Filesystem</div>
          </div>
          <div slot="footer">
            <c-switch type="text" variant="primary" @change="seenFS = !seenFS" on="On" off="Off" :checked="false"/><a class="font-weight-bold font-xs btn-block text-muted" href="#">View More</a>
          </div>
        </b-card>
      </div><!--/.col-->
      <div class="col-6 col-lg-3">
        <b-card no-block footer-class="px-3 py-2">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-info-circle bg-success p-3 font-3xl mr-3 float-left"></i>
            <div class="h3 text-primary mb-0 mt-2">5</div>
            <div class="text-muted text-uppercase font-weight-bold font-xl">General</div>
          </div>
          <div slot="footer">
            <c-switch type="text" variant="primary" @change="seenGEN = !seenGEN" on="On" off="Off" :checked="false"/><a class="font-weight-bold font-xs btn-block text-muted" href="#">View More</a>
          </div>
        </b-card>
      </div><!--/.col-->
      <div class="col-6 col-lg-3">
        <b-card no-block footer-class="px-3 py-2">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-folder-o bg-success p-3 font-3xl mr-3 float-left"></i>
            <div class="h3 text-primary mb-0 mt-2">8</div>
            <div class="text-muted text-uppercase font-weight-bold font-xl">Memory</div>
          </div>
          <div slot="footer">
            <c-switch type="text" variant="primary" @change="seenMEM = !seenMEM" on="On" off="Off" :checked="false"/><a class="font-weight-bold font-xs btn-block text-muted" href="#">View More</a>
          </div>
        </b-card>
      </div><!--/.col-->
      <div class="col-6 col-lg-3">
        <b-card no-block footer-class="px-3 py-2">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-upload bg-success p-3 font-3xl mr-3 float-left"></i>
            <div class="h3 text-primary mb-0 mt-2">11</div>
            <div class="text-muted text-uppercase font-weight-bold font-xl">Interfaces</div>
          </div>
          <div slot="footer">
            <c-switch type="text" variant="primary" on="On" off="Off" @change="seenNetInt = !seenNetInt" :checked="false"/><a class="font-weight-bold font-xs btn-block text-muted" href="#">View More</a>
          </div>
        </b-card>
      </div><!--/.col-->
      <div class="col-6 col-lg-3">
        <b-card no-block footer-class="px-3 py-2">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-laptop bg-success p-3 font-3xl mr-3 float-left"></i>
            <div class="h3 text-primary mb-0 mt-2">15</div>
            <div class="text-muted text-uppercase font-weight-bold font-xl">OS</div>
          </div>
          <div slot="footer">
            <c-switch type="text" variant="primary" on="On" off="Off" @change="seenOS= !seenOS" :checked="false"/><a class="font-weight-bold font-xs btn-block text-muted" href="#">View More</a>
          </div>
        </b-card>
      </div><!--/.col-->
      <div class="col-6 col-lg-3">
        <b-card no-block footer-class="px-3 py-2">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-area-chart bg-success p-3 font-3xl mr-3 float-left"></i>
            <div class="h3 text-primary mb-0 mt-2">7</div>
            <div class="text-muted text-uppercase font-weight-bold font-xl">Performance</div>
          </div>
          <div slot="footer">
            <c-switch type="text" variant="primary" on="On" off="Off" @change="seenPERF = !seenPERF" :checked="false"/><a class="font-weight-bold font-xs btn-block text-muted" href="#">View More</a>
          </div>
        </b-card>
      </div><!--/.col-->
      <div class="col-6 col-lg-3">
        <b-card no-block footer-class="px-3 py-2">
          <div class="card-body p-3 clearfix">
            <i class="fa fa-list-ol bg-success p-3 font-3xl mr-3 float-left"></i>
            <div class="h3 text-primary mb-0 mt-2">8</div>
            <div class="text-muted text-uppercase font-weight-bold font-xl">Processes</div>
          </div>
          <div slot="footer">
            <c-switch type="text" variant="primary" on="On" off="Off" @change="seenPROC = !seenPROC" :checked="false"/><a class="font-weight-bold font-xs btn-block text-muted" href="#">View More</a>
          </div>
        </b-card>
      </div><!--/.col-->
    </div><!--/.rowthat-->
    <button @click="search">Submit</button>  
    <div class="row" v-if="seenCPU">
      <div class="col-12">
        <b-card header="<i class='fa fa-align-justify'></i> CPU Applications">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Application Name</th>
                <th>Description</th>
                <th>Last value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ cpuApp[0].name }}</td>
                <td>{{ cpuApp[0].name }}</td>
                <td>{{ cpuApp[0].lastvalue }}</td>
              </tr>
              <tr>
                <td>CPU idle time</td>
                <td>{{ cpuApp[1].description }}</td>
                <td>{{ cpuApp[1].lastvalue }}</td>
              </tr>
              <tr>
                <td>CPU interrupt time</td>
                <td>{{ cpuApp[2].description }}</td>
                <td>{{ cpuApp[2].lastvalue }}</td>
              </tr>
              <tr>
                <td>CPU iowait time</td>
                <td>{{ cpuApp[3].description }}</td>
                <td>{{ cpuApp[3].lastvalue }}</td>
              </tr>
              <tr>
                <td>CPU nice time</td>
                <td>{{ cpuApp[4].description }}</td>
                <td>{{ cpuApp[4].lastvalue }}</td>
              </tr>
              <tr>
                <td>CPU softirq time</td>
                <td>{{ cpuApp[5].description }}</td>
                <td>{{ cpuApp[5].lastvalue }}</td>
              </tr>
              <tr>
                <td>CPU steal time</td>
                <td>{{ cpuApp[6].description }}</td>
                <td>{{ cpuApp[6].lastvalue }}</td>
              </tr>
               <tr>
                <td>CPU system time</td>
                <td>{{ cpuApp[7].description }}</td>
                <td>{{ cpuApp[7].lastvalue }}</td>
              </tr>
              <tr>
                <td>CPU user time</td>
                <td>{{ cpuApp[8].description }}</td>
                <td>{{ cpuApp[8].lastvalue }}</td>
              </tr>
              <tr>
                <td>CPU user time</td>
                <td>{{ cpuApp[8].description }}</td>
                <td>{{ cpuApp[8].lastvalue }}</td>
              </tr>
              <tr>
                <td>{{ cpuApp[9].name }}</td>
                <td>{{ cpuApp[9].name }}</td>
                <td>{{ cpuApp[9].lastvalue }}</td>
              </tr>
              <tr>
                <td>{{ cpuApp[10].name }}</td>
                <td>{{ cpuApp[10].description }}</td>
                <td>{{ cpuApp[10].lastvalue }}</td>
              </tr>
               <tr>
                <td>{{ cpuApp[11].name }}</td>
                <td>{{ cpuApp[11].description }}</td>
                <td>{{ cpuApp[11].lastvalue }}</td>
              </tr>
              <tr>
                <td>{{ cpuApp[12].name }}</td>
                <td>{{ cpuApp[12].description }}</td>
                <td>{{ cpuApp[12].lastvalue }}</td>
              </tr>
            </tbody>
          </table>
        </b-card>
      </div><!--/.col-->
    </div><!--/.row-->
    <div class="row" v-if="seenFS">
      <div class="col-12">
        <b-card header="<i class='fa fa-align-justify'></i> Filesystem Applications">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Application Name</th>
                <th>Last value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Free disk space</td>
                <td>2.04 GB</td>
              </tr>
              <tr>
                <td>Free disk space (percentage)</td>
                <td>7.83 %</td>
              </tr>
              <tr>
                <td>Free inodes (percentage)</td>
                <td>19.89 %</td>
              </tr>
              <tr>
                <td>Total disk space</td>
                <td>27.48 GB</td>
              </tr>
              <tr>
                <td>Used disk space</td>
                <td>24.02 GB</td>
              </tr>
            </tbody>
          </table>
        </b-card>
      </div><!--/.col-->
    </div><!--/.row-->
    <div class="row" v-if="seenGEN">
      <div class="col-12">
        <b-card header="<i class='fa fa-align-justify'></i> General Applications">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Application Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ genApp[11].name }}</td>
                <td>{{ bootTime.toString() }}</td>
              </tr>
              <tr>
                <td>{{ genApp[12].name }}</td>
                <td>{{ localTimeM.toString() }}</td>
              </tr>
              <tr>
                <td>{{ genApp[13].name }}</td>
                <td>{{ genApp[13].lastvalue }}</td>
              </tr>
              <tr>
                <td>{{ genApp[19].name }}</td>
                <td>{{ genApp[19].lastvalue }}</td>
              </tr>
              <tr>
                <td>{{ genApp[20].name }}</td>
                <td>{{ upTime }}</td>
              </tr>
            </tbody>
          </table>
        </b-card>
      </div><!--/.col-->
    </div><!--/.row-->
    <div class="row" v-if="seenMEM">
      <div class="col-12">
        <b-card header="<i class='fa fa-align-justify'></i> Memory Applications">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Application Name</th>
                <th>Description</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ memApp[0].name }}</td>
                <td>{{ memApp[0].description }}</td>
                <td>{{ memAppAval }}</td>
              </tr>
              <tr>
                <td>{{ memAppSwap[0].name}}</td>
                <td>{{ memAppSwap[0].name}}</td>
                <td>{{ memAppSwapFree }}</td>
              </tr>
              <tr>
                <td>{{ memAppSwap[1].name}}</td>
                <td>{{ memAppSwap[1].name}}</td>
                <td>{{ memAppSwapPer }}%</td>
              </tr>
              <tr>
                <td>{{ memApp[1].name }}</td>
                <td>{{ memApp[1].name }}</td>
                <td>{{ memAppTotal }}</td>
              </tr>
              <tr>
                <td>{{ memAppSwap[2].name}}</td>
                <td>{{ memAppSwap[2].name}}</td>
                <td>{{ memAppSwapTotal }}</td>
              </tr>
            </tbody>
          </table>
        </b-card>
      </div><!--/.col-->
    </div><!--/.row-->
    <div class="row" v-if="seenNetInt">
      <div class="col-12">
        <b-card header="<i class='fa fa-align-justify'></i> Network Interfaces Applications">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Application Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ intApp[0].name }}</td>
                <td>{{ intAppIn }}/s</td>
              </tr>
              <tr>
                <td>{{ intApp[1].name }}</td>
                <td>{{ intAppOut }}/s</td>
              </tr>
            </tbody>
          </table>
        </b-card>
      </div><!--/.col-->
    </div><!--/.row-->
    <div class="row" v-if="seenOS">
      <div class="col-12">
        <b-card header="<i class='fa fa-align-justify'></i> OS Applications">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Application Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ osApp[0].name }}</td>
                <td>{{ osApp[0].lastvalue }}</td>
              </tr>
              <tr>
                <td>{{ osApp[1].name }}</td>
                <td>{{ osApp[1].lastvalue }}</td>
              </tr>
              <tr>
                <td>{{ osAppUserNum[0].name }}</td>
                <td>{{ osAppUserNum[0].lastvalue }}</td>
              </tr>
            </tbody>
          </table>
        </b-card>
      </div><!--/.col-->
    </div><!--/.row-->
    <div class="row" v-if="seenPERF">
      <div class="col-12">
        <b-card header="<i class='fa fa-align-justify'></i> Performance Applications">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Application Name</th>
                <th>Description</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ perfApp[0].name }}</td>
                <td>{{ perfApp[0].description }}</td>
                <td>{{ perfApp1 }}</td>
              <tr>
                <td>{{ perfApp[2].name }}</td>
                <td>{{ perfApp[2].description }}</td>
                <td>{{ perfApp5 }}</td>
              </tr>
              <tr>
                <td>{{ perfApp[1].name }}</td>
                <td>{{ perfApp[1].description }}</td>
                <td>{{ perfApp15 }}</td>
              </tr>
            </tbody>
          </table>
        </b-card>
      </div><!--/.col-->
    </div><!--/.row-->
    <div class="row" v-if="seenPROC">
      <div class="col-12">
        <b-card header="<i class='fa fa-align-justify'></i> Processes Applications">
          <table class="table table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Application Name</th>
                <th>Description</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ procApp[0].name }}</td>
                <td>{{ procApp[0].description }}</td>
                <td>{{ procApp[0].lastvalue }}</td>
              </tr>
              <tr>
                <td>{{ procApp[1].name }}</td>
                <td>{{ procApp[1].description }}</td>
                <td>{{ procApp[1].lastvalue }}</td>
              </tr>
            </tbody>
          </table>
        </b-card>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import cSwitch from '../components/Switch'
import timestamp from 'unix-timestamp'
import moment from 'moment'
import bytes from 'bytes'
import numeral from 'numeral'

Vue.use(VueAxios, axios, timestamp, moment, bytes, numeral)
// Vue.use(timestamp)

export default {
  name: 'applications',
  data () {
    return {
      msg: 'Widgets',
      infoTriggers: {},
      selectApplicationsCPU: '',
      seenCPU: false,
      seenFS: false,
      seenGEN: false,
      seenMEM: false,
      seenNetInt: false,
      seenOS: false,
      seenPERF: false,
      seenPROC: false,
      cpuApp: '',
      genApp: '',
      localTime: '',
      sh: ''
    }
  },
  components: {
    cSwitch
  },
  computed: {
    icon (icon) {
      return icon
    }
  },
  methods: {
    search () {
      const api = `http://192.168.8.137/zabbix/api_jsonrpc.php`
      var that = this

      Vue.axios.all([
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'trigger.get',
          'params': {
            'host': 'Zabbix server',
            'output': 'extend',
            'selectFunctions': 'extend',
            'filter': {
              'priority': 1
            }
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        }),
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'trigger.get',
          'params': {
            'host': 'Zabbix server',
            'output': 'extend',
            'selectFunctions': 'extend',
            'filter': {
              'priority': 2
            }
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        }),
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'trigger.get',
          'params': {
            'host': 'Zabbix server',
            'output': 'extend',
            'selectFunctions': 'extend',
            'filter': {
              'priority': 3
            }
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        }),
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'template.get',
          'params': {
            'host': 'Zabbix server',
            'output': 'extend',
            'selectApplications': 'extend',
            'filter': {
              'host': 'Template OS Linux'
            }
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        }),
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'item.get',
          'params': {
            'hostids': '10084',
            'output': 'extend',
            'search': {
              'key_': 'cpu'
            },
            'sortfield': 'name'
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        }),
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'item.get',
          'params': {
            'hostids': '10084',
            'output': 'extend',
            'search': {
              'key_': 'system'
            },
            'sortfield': 'name'
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        }),
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'item.get',
          'params': {
            'hostids': '10084',
            'output': 'extend',
            'search': {
              'key_': 'memory'
            },
            'sortfield': 'name'
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        }),
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'item.get',
          'params': {
            'hostids': '10084',
            'output': 'extend',
            'search': {
              'key_': 'swap'
            },
            'sortfield': 'name'
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        }),
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'item.get',
          'params': {
            'hostids': '10084',
            'output': 'extend',
            'search': {
              'key_': 'net'
            },
            'sortfield': 'name'
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        }),
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'item.get',
          'params': {
            'hostids': '10084',
            'output': 'extend',
            'search': {
              'key_': 'kernel'
            },
            'sortfield': 'name'
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        }),
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'item.get',
          'params': {
            'hostids': '10084',
            'output': 'extend',
            'itemids': '23314',
            'sortfield': 'name'
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        }),
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'item.get',
          'params': {
            'hostids': '10084',
            'output': 'extend',
            'search': {
              'key_': 'load'
            },
            'sortfield': 'name'
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        }),
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'item.get',
          'params': {
            'hostids': '10084',
            'output': 'extend',
            'search': {
              'key_': 'proc'
            },
            'sortfield': 'name'
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        })
      ])
        .then(
          Vue.axios.spread(
            function (response1, response2, response3, response4, response5, response6, response7, response8, response9, response10, response11, response12, response13) {
              that.infoTriggers = response1.data
              that.warnTriggers = response2.data
              that.averageTriggers = response3.data
              that.selectApplicationsCPU = response4.data.result[0].applications[0].name
              that.cpuApp = response5.data.result
              that.fsApp = response6.data.result
              that.genApp = response6.data.result
              that.memApp = response7.data.result
              that.memAppSwap = response8.data.result
              that.intApp = response9.data.result
              that.osApp = response10.data.result
              that.osAppUserNum = response11.data.result
              that.perfApp = response12.data.result
              that.procApp = response13.data.result
              that.localTimeM = moment.unix(that.genApp[12].lastvalue).format('MMMM Do YYYY, h:mm:ss a')
              that.bootTime = moment.unix(that.genApp[11].lastvalue).format('MMMM Do YYYY, h:mm:ss a')
              that.upTime = moment(that.genApp[20].lastvalue * 1000).format('HH:mm')
              that.memAppSwapPer = numeral(that.memAppSwap[1].lastvalue).format('0.00')
              console.log(that.genApp[11].lastvalue)
              that.memAppAval = bytes(that.memApp[0].lastvalue * 1.24)
              that.memAppTotal = bytes(that.memApp[1].lastvalue * 1.24)
              that.memAppSwapFree = bytes(that.memAppSwap[0].lastvalue * 1.24)
              that.memAppSwapTotal = bytes(that.memAppSwap[2].lastvalue * 1.24)
              that.intAppIn = numeral(that.intApp[0].lastvalue).format('0.00b')
              that.intAppOut = numeral(that.intApp[1].lastvalue).format('0.00b')
              that.perfApp1 = numeral(that.perfApp[0].lastvalue).format('0%')
              that.perfApp5 = numeral(that.perfApp[2].lastvalue).format('0%')
              that.perfApp15 = numeral(that.perfApp[1].lastvalue).format('0%')
              console.log(that.memApp)
              console.log(that.memAppSwap)
              console.log(that.intApp)
              console.log(that.procApp)
            }
          ))
    } // end of search method
  }
}
</script>