<template>
  <div class="animated fadeIn">
  <b-row>
    <b-col md="6" class="py-4">
      <b-btn id="exButton1" variant="outline-success" @click="search">Submit</b-btn>
      <b-btn id="exButton2" variant="outline-success"@click="chartVisib">Charts</b-btn>
    </b-col>
  </b-row>
  <b-tooltip target="exButton1" title="Get Info"></b-tooltip>
  <b-tooltip target="exButton2" placement="bottom">
    Get Charts
  </b-tooltip>

    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <b-card class="bg-primary" :no-block="true">
          <div class="card-body pb-0">
            <b-dropdown class="float-right" variant="transparent p-0" right>
              <template slot="button-content">
                <i class="icon-settings"></i>
              </template>
              <b-dropdown-item><router-link to="applications">Home</router-link></b-dropdown-item>
              <b-dropdown-item>Another action</b-dropdown-item>
              <b-dropdown-item>Something else here...</b-dropdown-item>
              <b-dropdown-item disabled>Disabled action</b-dropdown-item>
            </b-dropdown>
            <div v-if="infoTriggers.result" class="mb-0"><h1>{{ infoTriggers.result.length }}</h1></div>
            <div><h2 class="mb-2" style="font-family: 'Roboto', sans-serif;">Information</h2></div>
          </div>
          <card-line1-chart-example class="chart-wrapper px-3" style="height:70px;" height="70"/>
        </b-card>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <b-card class="bg-info" :no-block="true">
          <div class="card-body pb-0">
            <b-dropdown class="float-right" variant="transparent p-0" right>
              <template slot="button-content">
                <i class="icon-settings"></i>
              </template>
              <b-dropdown-item>Action</b-dropdown-item>
              <b-dropdown-item>Another action</b-dropdown-item>
              <b-dropdown-item>Something else here...</b-dropdown-item>
              <b-dropdown-item disabled>Disabled action</b-dropdown-item>
            </b-dropdown>
            <div v-if="warnTriggers.result" class="mb-0"><h1>{{ warnTriggers.result.length - 3 }}</h1></div>
            <div><h2 class="mb-2" style="font-family: 'Roboto', sans-serif;">Messages</h2></div>
          </div>
          <card-line2-chart-example class="chart-wrapper px-3" style="height:70px;" height="70"/>
        </b-card>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <b-card class="bg-warning" :no-block="true">
          <div class="card-body pb-0">
            <b-dropdown class="float-right" variant="transparent p-0" right>
              <template slot="button-content">
                <i class="icon-settings"></i>
              </template>
              <b-dropdown-item>Action</b-dropdown-item>
              <b-dropdown-item>Another action</b-dropdown-item>
              <b-dropdown-item>Something else here...</b-dropdown-item>
              <b-dropdown-item disabled>Disabled action</b-dropdown-item>
            </b-dropdown>
            <div v-if="warnTriggers.result" class="mb-0"><h1>{{ warnTriggers.result.length }}</h1></div>
            <div><h2 class="mb-2">Warnings</h2></div>
          </div>
          <card-line3-chart-example class="chart-wrapper" style="height:70px;" height="70"/>
        </b-card>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <b-card class="bg-danger" :no-block="true">
          <div class="card-body pb-0">
            <b-dropdown class="float-right" variant="transparent p-0" right>
              <template slot="button-content">
                <i class="icon-settings"></i>
              </template>
              <b-dropdown-item>Action</b-dropdown-item>
              <b-dropdown-item>Another action</b-dropdown-item>
              <b-dropdown-item>Something else here...</b-dropdown-item>
              <b-dropdown-item disabled>Disabled action</b-dropdown-item>
            </b-dropdown>
            <div v-if="averageTriggers.result" class="mb-0"><h1>{{ averageTriggers.result.length }}</h1></div>
            <div><h2 class="mb-2">Errors</h2></div>
          </div>
          <card-bar-chart-example class="chart-wrapper px-3" style="height:70px;" height="70"/>
        </b-card>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <b-card class="bg-success" :no-block="true">
          <div class="card-body pb-0">
            <b-dropdown class="float-right" variant="transparent p-0" right>
              <template slot="button-content">
                <i class="icon-settings"></i>
              </template>
              <b-dropdown-item><router-link to="applications">Applications Info</router-link></b-dropdown-item>
              <b-dropdown-item @click="hostTabVis">Show Hosts</b-dropdown-item>
              <b-dropdown-item>Something else here...</b-dropdown-item>
      
            </b-dropdown>
            <h1 class="mb-3">2</h1>
            <h2>Hosts</h2>
          </div>
          <!-- <card-bar-chart-example class="chart-wrapper px-3" style="height:70px;" height="70"/> -->
        </b-card>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <b-card class="bg-success" :no-block="true">
          <div class="card-body pb-0">
            <b-dropdown class="float-right" variant="transparent p-0" right>
              <template slot="button-content">
                <i class="icon-settings"></i>
              </template>
              <b-dropdown-item @click="hostGroupTabVis">Show Hostgroups</b-dropdown-item>
              <b-dropdown-item>Another action</b-dropdown-item>
              <b-dropdown-item>Something else here...</b-dropdown-item>
            </b-dropdown>
            <h1 class="mb-3">7</h1>
            <h2>Host Groups</h2>
          </div>
          <!-- <card-bar-chart-example class="chart-wrapper px-3" style="height:70px;" height="70"/> -->
        </b-card>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <b-card class="bg-success" :no-block="true">
          <div class="card-body pb-0">
            <b-dropdown class="float-right" variant="transparent p-0" right>
              <template slot="button-content">
                <i class="icon-settings"></i>
              </template>
              <b-dropdown-item>Action</b-dropdown-item>
              <b-dropdown-item>Another action</b-dropdown-item>
              <b-dropdown-item>Something else here...</b-dropdown-item>
            </b-dropdown>
            <h1 class="mb-3">All</h1>
            <h2>Settings</h2>
          </div>
          <!-- <card-bar-chart-example class="chart-wrapper px-3" style="height:70px;" height="70"/> -->
        </b-card>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <b-card class="bg-success" :no-block="true">
          <div class="card-body pb-0">
            <b-dropdown class="float-right" variant="transparent p-0" right>
              <template slot="button-content">
                <i class="icon-settings"></i>
              </template>
              <b-dropdown-item>Action</b-dropdown-item>
              <b-dropdown-item>Another action</b-dropdown-item>
              <b-dropdown-item>Something else here...</b-dropdown-item>
              <b-dropdown-item disabled>Disabled action</b-dropdown-item>
            </b-dropdown>
            <h1 class="mb-3">2</h1>
            <h2>Maps</h2>
          </div>
          <!-- <card-bar-chart-example class="chart-wrapper px-3" style="height:70px;" height="70"/> -->
        </b-card>
      </div><!--/.col Graphs row-->
      <transition name="fade">
      <div class="col-lg-6" v-if="hostTableVis">
        <b-card header="<i class='fa fa-align-justify'></i> <strong>Hosts</strong>">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Host</th>
                <th>Status</th>
                <th>Applications</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Zabbix Server</td>
                <td>Active/Connected</td>
                <td>46</td>
              </tr>
              <tr>
                <td>Cisco Router</td>
                <td>Active/Connected (demo)</td>
                <td>23</td>
              </tr>
            </tbody>
          </table>
          <div class="float-right">
            <c-switch type="text" variant="primary" on="On" off="Off" @change="hostTableVis = !hostTableVis" :checked="true"/>
          </div>
        </b-card>
      </div><!--/.col-->
      </transition>

      <transition name="fade">
      <div class="col-lg-6" v-if="hostGroupTableVis">
        <b-card header="<i class='fa fa-align-justify'></i> <strong>Host Froups</strong>">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Number of Hosts</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Linux Servers</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Templates</td>
                <td>2</td>
              </tr>
              <tr>
                <td>Zabbix Servers</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Virtual Machines</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Hypervisors</td>
                <td>0</td>
              </tr>
              <tr>
                <td>Discovered Hosts</td>
                <td>2</td>
              </tr>
            </tbody>
          </table>
          <div class="float-right">
            <c-switch type="text" variant="primary" on="On" off="Off" @change="hostGroupTableVis = !hostGroupTableVis" :checked="true"/>
          </div>
        </b-card>

      </div><!--/.col-->
      </transition>
   
    <div class="col-sm-6 col-lg-4" v-if="chartVis">
      <b-card header="<strong>Active Triggers</strong>">
        <div class="chart-wrapper">
          <doughnut-example/>
        </div>
      </b-card>
    </div>
    <div class="col-sm-6 col-lg-4" v-if="chartVis">
      <b-card header="<strong>Host Groups</strong>">
        <div class="chart-wrapper">
          <pie-example1/>
        </div>
      </b-card>
    </div>
    <div class="col-sm-6 col-lg-4" v-if="chartVis">
      <b-card header="<strong>Hosts</strong>">
        <div class="chart-wrapper">
          <doughnut-example2/>
        </div>
      </b-card>
    </div>
  
  
    </div><!--/.row-->

    <b-card>
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Traffic</h4>
          <div class="small text-muted">September 2017</div>
        </div><!--/.col-->
        <div class="col-sm-7 hidden-sm-down">
          <b-button type="button" variant="primary" class="float-right"><i class="icon-cloud-download"></i></b-button>
          <b-button-toolbar class="float-right" aria-label="Toolbar with button groups">
          </b-button-toolbar>
        </div><!--/.col-->
      </div><!--/.row-->
      <main-chart-example class="chart-wrapper" style="height:300px;margin-top:40px;" height="300"></main-chart-example>
    </b-card>
    

  </div>
</template>

<script>
import CardLine1ChartExample from './dashboard/CardLine1ChartExample'
import CardLine2ChartExample from './dashboard/CardLine2ChartExample'
import CardLine3ChartExample from './dashboard/CardLine3ChartExample'
import CardBarChartExample from './dashboard/CardBarChartExample'
import MainChartExample from './dashboard/MainChartExample'
import SocialBoxChartExample from './dashboard/SocialBoxChartExample'
import CalloutChartExample from './dashboard/CalloutChartExample'
import DoughnutExample from './charts/DoughnutExample'
import DoughnutExample1 from './charts/DoughnutExample1'
import DoughnutExample2 from './charts/DoughnutExample2'
import PieExample1 from './charts/PieExample1'
import cSwitch from '../components/Switch'
import { Callout } from '../components/'
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'

Vue.use(VueAxios, axios)

export default {
  name: 'dashboard',
  components: {
    Callout,
    CardLine1ChartExample,
    CardLine2ChartExample,
    CardLine3ChartExample,
    CardBarChartExample,
    MainChartExample,
    SocialBoxChartExample,
    CalloutChartExample,
    DoughnutExample,
    DoughnutExample1,
    DoughnutExample2,
    PieExample1,
    cSwitch
  },
  data: function () {
    return {
      tableItems: [
        {
          avatar: { url: 'static/img/avatars/1.jpg', status: 'success' },
          user: { name: 'Yiorgos Avraamu', new: true, registered: 'Jan 1, 2015' },
          country: { name: 'USA', flag: 'static/img/flags/USA.png' },
          usage: { value: 50, period: 'Jun 11, 2015 - Jul 10, 2015' },
          payment: { name: 'Mastercard', icon: 'fa fa-cc-mastercard' },
          activity: '10 sec ago'
        },
        {
          avatar: { url: 'static/img/avatars/2.jpg', status: 'danger' },
          user: { name: 'Avram Tarasios', new: false, registered: 'Jan 1, 2015' },
          country: { name: 'Brazil', flag: 'static/img/flags/Brazil.png' },
          usage: { value: 22, period: 'Jun 11, 2015 - Jul 10, 2015' },
          payment: { name: 'Visa', icon: 'fa fa-cc-visa' },
          activity: '5 minutes ago'
        },
        {
          avatar: { url: 'static/img/avatars/3.jpg', status: 'warning' },
          user: { name: 'Quintin Ed', new: true, registered: 'Jan 1, 2015' },
          country: { name: 'India', flag: 'static/img/flags/India.png' },
          usage: { value: 74, period: 'Jun 11, 2015 - Jul 10, 2015' },
          payment: { name: 'Stripe', icon: 'fa fa-cc-stripe' },
          activity: '1 hour ago'
        },
        {
          avatar: { url: 'static/img/avatars/4.jpg', status: '' },
          user: { name: 'Enéas Kwadwo', new: true, registered: 'Jan 1, 2015' },
          country: { name: 'France', flag: 'static/img/flags/France.png' },
          usage: { value: 98, period: 'Jun 11, 2015 - Jul 10, 2015' },
          payment: { name: 'PayPal', icon: 'fa fa-paypal' },
          activity: 'Last month'
        },
        {
          avatar: { url: 'static/img/avatars/5.jpg', status: 'success' },
          user: { name: 'Agapetus Tadeáš', new: true, registered: 'Jan 1, 2015' },
          country: { name: 'Spain', flag: 'static/img/flags/Spain.png' },
          usage: { value: 22, period: 'Jun 11, 2015 - Jul 10, 2015' },
          payment: { name: 'Google Wallet', icon: 'fa fa-google-wallet' },
          activity: 'Last week'
        },
        {
          avatar: { url: 'static/img/avatars/6.jpg', status: 'danger' },
          user: { name: 'Friderik Dávid', new: true, registered: 'Jan 1, 2015' },
          country: { name: 'Poland', flag: 'static/img/flags/Poland.png' },
          usage: { value: 43, period: 'Jun 11, 2015 - Jul 10, 2015' },
          payment: { name: 'Amex', icon: 'fa fa-cc-amex' },
          activity: 'Last week'
        }
      ],
      tableFields: {
        avatar: {
          label: '<i class="icon-people"></i>',
          class: 'text-center'
        },
        user: {
          label: 'User'
        },
        country: {
          label: 'Country',
          class: 'text-center'
        },
        usage: {
          label: 'Usage'
        },
        payment: {
          label: 'Payment method',
          class: 'text-center'
        },
        activity: {
          label: 'Activity'
        }
      },
      infoTriggers: {},
      warnTriggers: {},
      averageTriggers: {},
      chartVis: false,
      hostTableVis: false,
      hostGroupTableVis: false
    }
  },
  methods: {
    variant (value) {
      let $variant
      if (value <= 25) {
        $variant = 'info'
      } else if (value > 25 && value <= 50) {
        $variant = 'success'
      } else if (value > 50 && value <= 75) {
        $variant = 'warning'
      } else if (value > 75 && value <= 100) {
        $variant = 'danger'
      }
      return $variant
    },
    chartVisib () {
      this.chartVis = !this.chartVis
    },
    hostTabVis () {
      this.hostTableVis = !this.hostTableVis
    },
    hostGroupTabVis () {
      this.hostGroupTableVis = !this.hostGroupTableVis
    },
    search () {
      const api = `http://192.168.8.137/zabbix/api_jsonrpc.php`
      var that = this

      Vue.axios.all([
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'trigger.get',
          'params': {
            'host': 'Zabbix server',
            'output': 'extend',
            'selectFunctions': 'extend',
            'filter': {
              'priority': 1
            }
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        }),
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'trigger.get',
          'params': {
            'host': 'Zabbix server',
            'output': 'extend',
            'selectFunctions': 'extend',
            'filter': {
              'priority': 2
            }
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        }),
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'trigger.get',
          'params': {
            'host': 'Zabbix server',
            'output': 'extend',
            'selectFunctions': 'extend',
            'filter': {
              'priority': 3
            }
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        })
      ])
        .then(
          Vue.axios.spread(
            function (response1, response2, response3) {
              that.infoTriggers = response1.data
              that.warnTriggers = response2.data
              that.averageTriggers = response3.data
              console.log(response1)
              console.log(response2)
              console.log(response3)
            }
          ))
    } // end of search method
  }
}
</script>

<style scoped>
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
</style>

