<template>
<div class="animated fadeIn">
    <b-card  bg-variant="dark" text-variant="white" title="Host: Zabbix Server">
        <p class="card-text">
        Typical Zabbix hosts are the devices you wish to monitor (servers, workstations, switches, etc).
        </p>
        <b-button variant="primary" @click="hostInfo = !hostInfo">Host Info</b-button>
        <b-button variant="success" class="pad" @click="hostConfig = !hostConfig">Host Config</b-button>
    </b-card>
    <transition name="fade">
    <section v-if="hostInfo">
        <div class="row">
        <div class="col-sm-6 col-lg-3">
          <b-card header-bg-variant="primary" header="<strong>Status</strong>">
            <b-button type="button" variant="success"><i class="fa fa-check-square-o" aria-hidden="true"></i> Connected</b-button>
            <b-button type="button" variant="success"><i class="fa fa-battery-full" aria-hidden="true"></i> Available</b-button>
            <b-button type="button" variant="secondary"><i class="fa fa-bar-chart" aria-hidden="true"></i> Working</b-button>
          </b-card>
          <br/>
         <b-card no-body class="mb-1">
          <b-card-header header-tag="header" class="p-1" role="tab">
            <b-btn block href="#" v-b-toggle.accordion1 variant="primary"><strong>Last Triggers</strong></b-btn>
          </b-card-header>
          <b-collapse id="accordion1" accordion="my-accordion" role="tabpanel">
            <b-card-body>
        <div class="col-lg-12">
        <b-card header="<i class='fa fa-align-justify'></i> Zabbix Server">
          <table class="table table-m">
            <thead>
              <tr>
                <th>Name</th>
                <th>Registered</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Free disk space</td>
                <td>04/10/17 12:57</td>
              </tr>
              <tr>
                <td>Message WARNING</td>
                <td>19/09/17 17:38</td>
              </tr>
              <tr>
                <td>Link Status is Down</td>
                <td>31/08/17 11:50</td>
              </tr>
              <tr>
                <td>Available space</td>
                <td>29/08/17 11:50</td>
              </tr>
              <tr>
                <td>Terminal Reaload</td>
                <td>29/08/17 12:55</td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </b-card>
      </div><!--/.col-->
            </b-card-body>
          </b-collapse>
          </b-card>
        </div>
        
        <!-- <div class="col-sm-6 col-lg-3">
            <b-card header="<strong>Active Triggers</strong>" header-bg-variant="primary" text-variant="white">
            <div class="chart-wrapper">
            <doughnut-example/>
            </div>
            </b-card>
        </div>
        <div class="col-sm-6 col-lg-3">
            <b-card header="<strong>Host Groups</strong>" header-bg-variant="primary" text-variant="white">
            <div class="chart-wrapper">
            <pie-example1/>
            </div>
            </b-card>
        </div>
        <div class="col-sm-6 col-lg-3">
            <b-card header="<strong>Hosts</strong>" header-bg-variant="primary" text-variant="white">
            <div class="chart-wrapper">
            <doughnut-example2/>
            </div>
        </b-card>
        </div> -->
        
    </div><!--/.row-->
    </section>
    </transition>

    <transition name="fade">
    <section v-if="hostConfig">
      <b-card no-body>
        <b-tabs ref="tabs" card pills>
        <b-tab title="<strong>Host</strong>" active>
        <b-card>
          <b-form-fieldset
            description="Choose the right Host name"
            label="Host name"
            :label-cols="3"
            :horizontal="true">
            <b-form-input type="text" placeholder="Zabbix server"></b-form-input>
          </b-form-fieldset>
          <b-form-fieldset
            description="Feel free to choose"
            label="Visible name"
            :label-cols="3"
            :horizontal="true">
            <b-form-input type="text" placeholder="Text"></b-form-input>
          </b-form-fieldset>
          <b-form-fieldset
            description="Add new host group"
            label="Groups"
            :label-cols="3"
            :horizontal="true">
            <b-form-input type="email" placeholder="Zabbix Servers"></b-form-input>
          </b-form-fieldset>
          <b-form-fieldset
            description="Please enter a complex password"
            label="Password Input"
            :label-cols="3"
            :horizontal="true">
            <b-form-input type="password" placeholder="Enter your password"></b-form-input>
          </b-form-fieldset>
        
     
          <b-form-fieldset
            label="Groups"
            :label-cols="3"
            :horizontal="true">
            <b-form-select
              :plain="true"
              :options="['Please select','Discovered Hosts', 'Database Servers', 'Linux Server', 'Templates', 'Virtual mashines']"
              value="Please select">
            </b-form-select>
          </b-form-fieldset>
          <b-form-fieldset
            label="Condition"
            :label-cols="3"
            :horizontal="true">
            <b-form-radio
              :options="[
                {text: 'Enabled',value: '1'},
                {text: 'Disabled',value: '2'}
              ]"
              value="1"></b-form-radio>
          </b-form-fieldset>
          <div slot="footer">
            <b-button type="reset" size="sm" variant="danger" class="float-right"><i class="fa fa-ban"></i> Cancel</b-button>
            <b-button type="submit" size="sm" variant="primary" class="float-right"><i class="fa fa-dot-circle-o"></i> Add</b-button>
          </div>
        </b-card>
        </b-tab>
        <b-tab title="<strong>Interfaces</strong>">
            <div class="row">
                <div class="col-sm-6">
                  <b-card>
          <div slot="header">
            <strong>Agent Interfaces</strong>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <b-form-fieldset label="IP Adress">
                <b-form-input type="text" id="name" placeholder="192.168.3.231"></b-form-input>
              </b-form-fieldset>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <b-form-fieldset label="DNS Name">
                <b-form-input type="text" id="ccnumber" placeholder="8.8.8.8"></b-form-input>
              </b-form-fieldset>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-4">
              <b-form-fieldset label="Connected to">
                <b-form-select
                  :plain="true"
                  :options="['IP', 'DNS']">
                </b-form-select>
              </b-form-fieldset>
            </div><!--/.col-->
            <div class="col-sm-4">
              <b-form-fieldset label="Port">
                <b-form-select
                  :plain="true"
                  :options="[2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025]">
                </b-form-select>
              </b-form-fieldset>
            </div><!--/.col-->
            <div class="col-sm-4">
              <b-form-fieldset label="Options">
                <b-form-select
                  :plain="true"
                  :options="['Enabled', 'Disabled']">
                </b-form-select>
              </b-form-fieldset>
            </div><!--/.col-->
          </div>
          <div slot="footer">
            <b-button type="reset" size="sm" variant="danger" class="float-right"><i class="fa fa-ban"></i> Cancel</b-button>
            <b-button type="submit" size="sm" variant="primary" class="float-right"><i class="fa fa-dot-circle-o"></i> Add</b-button>
          </div><!--/.row-->
        </b-card>
                </div>
                <div class="col-sm-6">
        <b-card>
          <div slot="header">
            <strong>SNMP Interfaces</strong>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <b-form-fieldset label="IP Address">
                <b-form-input type="text" id="name" placeholder="192.168.3.231"></b-form-input>
              </b-form-fieldset>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-12">
              <b-form-fieldset label="DNS Name">
                <b-form-input type="text" id="ccnumber" placeholder="8.8.8.8"></b-form-input>
              </b-form-fieldset>
            </div>
          </div><!--/.row-->
          <div class="row">
            <div class="col-sm-4">
              <b-form-fieldset label="Connect to">
                <b-form-select
                  :plain="true"
                  :options="['IP', 'DNS']">
                </b-form-select>
              </b-form-fieldset>
            </div><!--/.col-->
            <div class="col-sm-4">
              <b-form-fieldset label="Port">
                <b-form-select
                  :plain="true"
                  :options="[2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025]">
                </b-form-select>
              </b-form-fieldset>
            </div><!--/.col-->
            <div class="col-sm-4">
              <b-form-fieldset label="Decription">
                <b-form-input type="text" id="cvv" placeholder="Please enter here"></b-form-input>
              </b-form-fieldset>
            </div><!--/.col-->
          </div><!--/.row-->
            <div slot="footer">
              <b-button type="reset" size="sm" variant="danger" class="float-right"><i class="fa fa-ban"></i> Cancel</b-button>
              <b-button type="submit" size="sm" variant="primary" class="float-right"><i class="fa fa-dot-circle-o"></i> Add</b-button>
          </div><!--/.row-->
        </b-card>
                </div>
            </div><!--Interfaces Table-->
        </b-tab>
        <b-tab title="<strong>Templates</strong>">
            
        </b-tab>
        <b-tab title="<strong>IPMI</strong>">
            <div class="row">
              <div class="col-sm-6">
                <b-card>
                  <b-form-fieldset
                    label="Authentication algorithm"
                    :label-cols="3"
                    :horizontal="true">
                    <b-form-select
                      :plain="true"
                      :options="['Default','None', 'MD2', 'MD5', 'Straight']"
                      value="Please select">
                    </b-form-select>
                  </b-form-fieldset>
                  <b-form-fieldset
                    label="Privilege level"
                    :label-cols="3"
                    :horizontal="true">
                    <b-form-select
                      :plain="true"
                      :options="['Callback','User', 'Operator', 'Admin', 'OEM']"
                      value="Please select">
                    </b-form-select>
                  </b-form-fieldset>
                  <b-form-fieldset
                    label="UserName"
                    :label-cols="3"
                    :horizontal="true">
                    <b-form-input type="text" placeholder="Text"></b-form-input>
                  </b-form-fieldset>
                  <b-form-fieldset
                    label="Password"
                    :label-cols="3"
                    :horizontal="true">
                    <b-form-input type="password" placeholder="Type Here"></b-form-input>
                  </b-form-fieldset>
                  <div slot="footer">
                    <b-button type="reset" size="sm" variant="danger" class="float-right"><i class="fa fa-ban"></i> Cancel</b-button>
                    <b-button type="submit" size="sm" variant="primary" class="float-right"><i class="fa fa-dot-circle-o"></i> Add</b-button>
                  </div>
                </b-card>
              </div>

            </div>
        </b-tab>
        <b-tab title="<strong>Host Inventory</strong>">
            
        </b-tab>
        <b-tab title="<strong>Encryption</strong>">
            
        </b-tab>
      </b-tabs>
</b-card>

    </section>
    </transition>
  

</div><!--End of template-->
</template>

<script>
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import DoughnutExample from './charts/DoughnutExample'
import DoughnutExample1 from './charts/DoughnutExample1'
import DoughnutExample2 from './charts/DoughnutExample2'
import PieExample1 from './charts/PieExample1'

Vue.use(VueAxios, axios)

export default {
  name: 'hostdetails',
  data () {
    return {
      hostInfo: false,
      hostConfig: false
    }
  },
  methods: {
  },
  components: {
    DoughnutExample,
    DoughnutExample1,
    DoughnutExample2,
    PieExample1
  }
}
</script>

<style scoped>
.pad {
    margin-left: .5em;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
</style>


