<template>
  <div class="animated fadeIn" id="app">
      <div class="row">
    <div class="col-sm-6 col-md-6">
        <b-card header="<strong>Zabbix server : Visualisation & Graphs</strong>" class="border-primary">
          With lots of data flowing into Zabbix, it becomes much easier for the users if they can look at a visual representation of what is going on rather than only numbers.
        </b-card>
      </div><!--/.col-->
       <div class="col-sm-6 col-md-6">
        <b-card header="<strong>Help</strong>" class="border-primary">
          This is where graphs come in. Graphs allow to grasp the data flow at a glance, correlate problems, discover when something started or make a presentation of when something might turn into a problem.
        </b-card>
      </div><!--/.col-->
    </div>
    <b-card>
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">Traffic</h4>
          <div class="small text-muted">September 2017</div>
        </div><!--/.col-->
        <div class="col-sm-7 hidden-sm-down">
          <b-button type="button" variant="primary" class="float-right"><i class="icon-cloud-download"></i></b-button>
          <b-button-toolbar class="float-right" aria-label="Toolbar with button groups">
            <b-button-group class="mr-3" aria-label="First group">
              <b-button variant="outline-secondary">Day</b-button>
              <b-button variant="outline-secondary" :active="true">Month</b-button>
              <b-button variant="outline-secondary">Year</b-button>
            </b-button-group>
          </b-button-toolbar>
        </div><!--/.col-->
      </div><!--/.row-->
      <main-chart-example1 class="chart-wrapper" style="height:300px;margin-top:40px;" height="300"></main-chart-example1>
    </b-card>
    <button @click="search">Submit</button>
    <timeline ref="timeline" :items="items" :groups="groups" :options="options">
    </timeline>
 </div>
</template>

<script>
import MainChartExample from './dashboard/MainChartExample'
import MainChartExample1 from './dashboard/MainChartExample1'
import Vue from 'vue'
import axios from 'axios'
import VueAxios from 'vue-axios'
import vue2vis from 'vue2vis'

Vue.use(VueAxios, axios, vue2vis)

export default {
  name: 'applications',
  components: {
    MainChartExample,
    MainChartExample1
  },
  methods: {
    search () {
      const api = `http://192.168.8.137/zabbix/api_jsonrpc.php`
      var that = this
      Vue.axios.all([
        Vue.axios.post(api, {
          'jsonrpc': '2.0',
          'method': 'history.get',
          'params': {
            'output': 'extend',
            'history': 0,
            'itemids': '23296',
            'sortfield': 'clock',
            'sortorder': 'DESC',
            'limit': 10
          },
          'auth': '8a1141e341c2f09f7ad443844eaf9228',
          'id': 1
        })
      ])
        .then(
          Vue.axios.spread(
            function (response1) {
              that.testHistory = response1.data
              console.log(that.testHistory)
            }
          ))
    },
    mounted () {
      Vue.smoothie.streamTo(document.getElementById('mycanvas'))
    },
    data () {
      return {
        groups: [{
          id: 0,
          content: 'Group 1'
        }],
        items: [{
          id: 0,
          group: 0,
          start: new Date(),
          content: 'Item 1'
        }],
        options: {
          editable: true
        }
      }
    }
  }
}
</script>



