<template>
  <footer class="app-footer">
    <a href="http://prosoftsystems.ru">ProsoftSystems</a> &copy; 2017.
    <span class="float-right">All Right Reserved</span>
  </footer>
</template>
<script>
export default {
  name: 'footer'
}
</script>
